page-add {
    .zong{
        margin-top:125px;
        div{
            padding:0;
            width:50%;
            float:left;
            text-align: center;
            img{
                width:70%;
            }
            h4{
                line-height: 7px;
            }
            h5{
                color:gray;
            }
        }
    }
}
